.root{

 -fx-background-image: url("../images/Atlantis_BG.jpg");
 -fx-background-repeat: no-repeat;
 -fx-background-attachment: fixed;
 -fx-background-position: bottom;
 -fx-background-opacity: 0.1;

 }

Label{
 -fx-text-fill: #e8e8e8;
 -fx-font-family: "Courier New";
 -fx-font-size: 18px;

}

#Label-big{
 -fx-font-family: "Castellar";
 -fx-font-size: 40px;
 -fx-font-weight: bold;
}

#Label-small{
 -fx-font-family: "Castellar";
 -fx-font-size: 9px;
 -fx-font-weight: bold;
}

#Label-text{

 -fx-font-size: 15px;
 -fx-font-weight: bold;
 -fx-text-fill: #e8e8e8;
 -fx-text-alignment: center;
 -fx-font-style: italic;
 -fx-line-height: 0.8;


}

Button{
 -fx-background-color: #ffffff;
 -fx-font-weight: bold;
 -fx-font-family: "Courier New";
 -fx-alignment: Center;
 -fx-pref-width: 200px;

}

.button:hover{
 -fx-background-color: #0000ff;
 -fx-text-fill: white;

}

.Playerbefore{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 60;
 -fx-text-fill: #ffffff;
}

.Playerafter{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 60;
 -fx-text-fill: #ff9933;
}

#MenuIcon{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 29;
 -fx-text-fill: #ffffff;
 }

#PlayerIcon{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 40;
 -fx-text-fill: #000000;
 }

hBox cardPane{
 -fx-background-color: #ffffff;
}

#RankingBye{
   -fx-background-image: url("../images/gold-65821_1920.jpg");
   -fx-background-repeat: no-repeat;
   -fx-background-attachment: fixed;
   -fx-background-position: bottom;
   -fx-background-opacity: 0.1;
   -fx-background-size: contain;
}

.Pawn-P1{
    -fx-font-family: 'Material Icons';
    -fx-font-size: 40;
    -fx-text-fill: #da40ff;
}

.Pawn-P2{
    -fx-font-family: 'Material Icons';
    -fx-font-size: 40;
    -fx-text-fill: #c00509;
}
.Pawn-P3{
    -fx-font-family: 'Material Icons';
    -fx-font-size: 40;
    -fx-text-fill: #191d41;
}
.Pawn-P4{
    -fx-font-family: 'Material Icons';
    -fx-font-size: 40;
    -fx-text-fill: #41400f;
}