.root{

 -fx-background-image: url("../images/Atlantis_BG.jpg");
 -fx-background-repeat: no-repeat;
 -fx-background-attachment: fixed;
 -fx-background-position: bottom;
 }

Label{
 -fx-text-fill: #e8e8e8;
 -fx-font-family: "Courier New";
 -fx-font-size: 18px;

}

#Label-big{
 -fx-font-family: "Castellar";
 -fx-font-size: 40px;
 -fx-font-weight: bold;
}

Button{
 -fx-background-color: #ffffff;
 -fx-font-weight: bold;
 -fx-font-family: "Courier New";
 -fx-alignment: Center;
 -fx-pref-width: 200px;


}

.button:hover{
 -fx-background-color: #0000ff;
 -fx-text-fill: white;

}

MenuButton{
 -fx-background-color: #ffffff;
 -fx-font-weight: bold;
 -fx-font-family: "Courier New";
 -fx-alignment: Center;
 -fx-pref-width: 200px;


}

#Playerbefore{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 60;
 -fx-text-fill: #ffffff;
}

#Playerafter{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 60;
 -fx-text-fill: #ff9933;
}

#MenuIcon{
 -fx-font-family: 'Material Icons';
 -fx-font-size: 29;
 -fx-text-fill: #ffffff;
 }
